#ksu_result {
    margin-left: auto;
    margin-right: auto;
}

#ksu_result .card,
#ksu_result .card .picture,
#ksu_result .card .face {
    width: 300px;
}

#ksu_result .card .picture,
#ksu_result .card .face {
    background-color: #ccc;
}

#ksu_result .card .face {
    background-repeat: no-repeat;
}
