header {
}
header #face-image {
    margin-right: 20px;
}
header #student-info {
    padding-top: 20px;
}
header #student-info #tags {
    font-size: 24px;
}

#pictures_flame {
    width: 100%;
    background-color: rgb(2, 117, 216);
    padding-bottom:50px;
    margin-bottom: 15px;
}
#pictures_flame #pictures {
}
#pictures_flame #pictures img.pic {
    width: 270px;
}


#pages {
    margin-bottom: 50px;
}
#pages a.page {
    display: block;
    background-color: #DDD;
    padding: 10px 20px;
    border: 1px solid #AAA;
    width: 200px;
}
