header {
}
header #face-image {
    margin-right: 20px;
}
header #student-info {
    padding-top: 20px;
}
header #student-info #tags {
    font-size: 18px;
    padding: 10px 5px;
}

#pictures_flame {
    width: 100%;
    background-color: #999;
    border-top: 15px solid rgb(2, 117, 216);
    
}
#pictures_flame #pictures {
}
#pictures_flame #pictures img.pic {
}

#pages {
    margin-top: 20px;
    padding: 0px 12px;
    margin-bottom: 70px;
}
#pages .page {
    white-space: normal;
    margin-right: 10px;
    margin-bottom: 10px;
}
